* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}

/*--Barra navegação--*/


.menu-principal {
    height: 300px;
    background-color: #fff6e5;
}

.menu-superior img {
    margin-top: 30px;
    margin-left: 30px;
    
}

.menu-principal h1 {
    font-family: 'Dancing Script','Fuggles', cursive;
    font-size: 150px;
    color: #a07330;
    text-align: center;
    margin-top: -170px;
}


#menu-option li, a{
	display: inline-block;
	text-decoration: none;
	
}

#menu-option{
    text-align: center;
    margin: 100 20px;
    margin-top: 25px;
    font-weight: bold;
    color: #a07330;
    font-size: 25px;
}

#menu-option li, a {
    margin: 0 15px;
    font-weight: bold;
    color: #a07330;
    cursor: pointer;
    
}

#menu-option li:hover {
    border-bottom: 1px solid #a07330;
}

/*Corpo texto*/

.market {
    text-align: center;
    color: #a07330;
    margin-top: 40px;
}

.market h1 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 40px;
    text-align: center;
}

.titulo {
    color: #a07330;
    text-align: center;
    margin-top: 45px;
}

/*produtos*/

.carousel {
    position: relative;
    margin-top: 26px;
    margin-bottom: 20px;
}

.carousel-inner {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    width: 700px;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6,
#carousel-7:checked ~ .control-7,
#carousel-8:checked ~ .control-8,
#carousel-9:checked ~ .control-9,
#carousel-10:checked ~ .control-10{
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel-7:checked ~ .control-7 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel-8:checked ~ .control-8 ~ .carousel-indicators li:nth-child(8) .carousel-bullet,
#carousel-9:checked ~ .control-9 ~ .carousel-indicators li:nth-child(9) .carousel-bullet, 
#carousel-10:checked ~ .control-10 ~ .carousel-indicators li:nth-child(10) .carousel-bullet {
    color: #428bca;
}

/*produtos_feminino*/

#carrousel-1:checked ~ .control-1,
#carrousel-2:checked ~ .control-2,
#carrousel-3:checked ~ .control-3,
#carrousel-4:checked ~ .control-4,
#carrousel-5:checked ~ .control-5,
#carrousel-6:checked ~ .control-6,
#carrousel-7:checked ~ .control-7,
#carrousel-8:checked ~ .control-8,
#carrousel-9:checked ~ .control-9,
#carrousel-10:checked ~ .control-10{
    display: block;
}


#carrousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carrousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carrousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carrousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carrousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carrousel-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carrousel-7:checked ~ .control-7 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carrousel-8:checked ~ .control-8 ~ .carousel-indicators li:nth-child(8) .carousel-bullet,
#carrousel-9:checked ~ .control-9 ~ .carousel-indicators li:nth-child(9) .carousel-bullet, 
#carrousel-10:checked ~ .control-10 ~ .carousel-indicators li:nth-child(10) .carousel-bullet {
    color: #428bca;
}

/*produtos_infantil*/

#carousel1-1:checked ~ .control-1,
#carousel1-2:checked ~ .control-2,
#carousel1-3:checked ~ .control-3,
#carousel1-4:checked ~ .control-4,
#carousel1-5:checked ~ .control-5,
#carousel1-6:checked ~ .control-6,
#carousel1-7:checked ~ .control-7,
#carousel1-8:checked ~ .control-8,
#carousel1-9:checked ~ .control-9,
#carousel1-10:checked ~ .control-10{
    display: block;
}

#carousel1-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel1-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel1-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel1-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel1-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel1-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel1-7:checked ~ .control-7 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel1-8:checked ~ .control-8 ~ .carousel-indicators li:nth-child(8) .carousel-bullet,
#carousel1-9:checked ~ .control-9 ~ .carousel-indicators li:nth-child(9) .carousel-bullet, 
#carousel1-10:checked ~ .control-10 ~ .carousel-indicators li:nth-child(10) .carousel-bullet {
    color: #428bca;
}

/*chaveiros*/

#carousel2-1:checked ~ .control-1,
#carousel2-2:checked ~ .control-2,
#carousel2-3:checked ~ .control-3,
#carousel2-4:checked ~ .control-4,
#carousel2-5:checked ~ .control-5,
#carousel2-6:checked ~ .control-6,
#carousel2-7:checked ~ .control-7,
#carousel2-8:checked ~ .control-8,
#carousel2-9:checked ~ .control-9,
#carousel2-10:checked ~ .control-10{
    display: block;
}

#carousel2-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel2-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel2-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel2-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel2-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel2-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel2-7:checked ~ .control-7 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel2-8:checked ~ .control-8 ~ .carousel-indicators li:nth-child(8) .carousel-bullet,
#carousel2-9:checked ~ .control-9 ~ .carousel-indicators li:nth-child(9) .carousel-bullet, 
#carousel2-10:checked ~ .control-10 ~ .carousel-indicators li:nth-child(10) .carousel-bullet {
    color: #428bca;
}

/*Colares e Braceletes*/

#carousel3-1:checked ~ .control-1,
#carousel3-2:checked ~ .control-2,
#carousel3-3:checked ~ .control-3,
#carousel3-4:checked ~ .control-4,
#carousel3-5:checked ~ .control-5,
#carousel3-6:checked ~ .control-6,
#carousel3-7:checked ~ .control-7,
#carousel3-8:checked ~ .control-8,
#carousel3-9:checked ~ .control-9,
#carousel3-10:checked ~ .control-10{
    display: block;
}

#carousel3-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel3-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel3-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel3-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel3-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel3-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel3-7:checked ~ .control-7 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel3-8:checked ~ .control-8 ~ .carousel-indicators li:nth-child(8) .carousel-bullet,
#carousel3-9:checked ~ .control-9 ~ .carousel-indicators li:nth-child(9) .carousel-bullet, 
#carousel3-10:checked ~ .control-10 ~ .carousel-indicators li:nth-child(10) .carousel-bullet {
    color: #428bca;
}

/*Colares e Braceletes*/

#carousel4-1:checked ~ .control-1,
#carousel4-2:checked ~ .control-2,
#carousel4-3:checked ~ .control-3,
#carousel4-4:checked ~ .control-4,
#carousel4-5:checked ~ .control-5,
#carousel4-6:checked ~ .control-6,
#carousel4-7:checked ~ .control-7,
#carousel4-8:checked ~ .control-8,
#carousel4-9:checked ~ .control-9,
#carousel4-10:checked ~ .control-10{
    display: block;
}

#carousel4-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel4-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel4-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel4-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel4-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel4-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel4-7:checked ~ .control-7 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel4-8:checked ~ .control-8 ~ .carousel-indicators li:nth-child(8) .carousel-bullet,
#carousel4-9:checked ~ .control-9 ~ .carousel-indicators li:nth-child(9) .carousel-bullet, 
#carousel4-10:checked ~ .control-10 ~ .carousel-indicators li:nth-child(10) .carousel-bullet {
    color: #428bca;
}

/*Livros*/

#carousel5-1:checked ~ .control-1,
#carousel5-2:checked ~ .control-2,
#carousel5-3:checked ~ .control-3,
#carousel5-4:checked ~ .control-4,
#carousel5-5:checked ~ .control-5,
#carousel5-6:checked ~ .control-6,
#carousel5-7:checked ~ .control-7,
#carousel5-8:checked ~ .control-8,
#carousel5-9:checked ~ .control-9,
#carousel5-10:checked ~ .control-10{
    display: block;
}

#carousel5-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel5-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel5-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel5-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel5-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel5-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel5-7:checked ~ .control-7 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel5-8:checked ~ .control-8 ~ .carousel-indicators li:nth-child(8) .carousel-bullet,
#carousel5-9:checked ~ .control-9 ~ .carousel-indicators li:nth-child(9) .carousel-bullet, 
#carousel5-10:checked ~ .control-10 ~ .carousel-indicators li:nth-child(10) .carousel-bullet {
    color: #428bca;
}

/*Pulseira*/

#carousel6-1:checked ~ .control-1,
#carousel6-2:checked ~ .control-2,
#carousel6-3:checked ~ .control-3,
#carousel6-4:checked ~ .control-4,
#carousel6-5:checked ~ .control-5,
#carousel6-6:checked ~ .control-6,
#carousel6-7:checked ~ .control-7,
#carousel6-8:checked ~ .control-8,
#carousel6-9:checked ~ .control-9,
#carousel6-10:checked ~ .control-10{
    display: block;
}

#carousel6-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel6-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel6-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel6-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel6-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel6-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel6-7:checked ~ .control-7 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel6-8:checked ~ .control-8 ~ .carousel-indicators li:nth-child(8) .carousel-bullet,
#carousel6-9:checked ~ .control-9 ~ .carousel-indicators li:nth-child(9) .carousel-bullet, 
#carousel6-10:checked ~ .control-10 ~ .carousel-indicators li:nth-child(10) .carousel-bullet {
    color: #428bca;
}

/*Terços*/

#carousel7-1:checked ~ .control-1,
#carousel7-2:checked ~ .control-2,
#carousel7-3:checked ~ .control-3,
#carousel7-4:checked ~ .control-4,
#carousel7-5:checked ~ .control-5,
#carousel7-6:checked ~ .control-6,
#carousel7-7:checked ~ .control-7,
#carousel7-8:checked ~ .control-8,
#carousel7-9:checked ~ .control-9,
#carousel7-10:checked ~ .control-10{
    display: block;
}

#carousel7-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel7-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel7-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel7-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel7-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel7-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel7-7:checked ~ .control-7 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel7-8:checked ~ .control-8 ~ .carousel-indicators li:nth-child(8) .carousel-bullet,
#carousel7-9:checked ~ .control-9 ~ .carousel-indicators li:nth-child(9) .carousel-bullet, 
#carousel7-10:checked ~ .control-10 ~ .carousel-indicators li:nth-child(10) .carousel-bullet {
    color: #428bca;
}

/*rodape*/

footer {
    background-color: #fff6e5;
    height: 80px;

}

footer p{
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: 18px;

}

@media (max-width: 768px)
{
.menu-principal
   {
    width: 100%;
    height: 200px;
    background-color: #fff6e5;
}

.menu-principal img {
    margin-top: 10px;
    margin-left: 10px;
    opacity: 0.6;
    width: 15%;
    
}
.menu-principal h1 {
    font-family: 'Dancing Script','Fuggles', cursive;
    font-size: 100px;
    color: #a07330;
    text-align: center;
    margin-top: -120px;
}


.market h1 {
    width: 100%;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 20px;
}

.carousel-inner {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
}


}

@media (max-width: 425px)
{
  .menu-principal
   {
    width: 100%;
    height: 100px;
    background-color: #fff6e5;
}

.menu-principal img {
    margin-top: 10px;
    margin-left: 10px;
    opacity: 0.6;
    width: 15%;
    
}

.menu-principal h1 {
    font-family: 'Dancing Script','Fuggles', cursive;
    margin-top: -60px;
    font-size: 40px;
    color: #a07330;
    text-align: center;
}

#menu-option{
    text-align: center;
    margin: 100 20px;
    margin-top: 15px;
    font-weight: bold;
    color: #a07330;
    font-size: 15px;
}

#menu-option li, a {
    margin: 0 10px;
    font-weight: bold;
    color: #a07330;
    cursor: pointer;
    
}

.market h1 {
    width: 100%;
    font-family: "Segoe UI",Arial,sans-serif;
}

.carousel-inner {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
}

}

@media (max-width: 375px)
{
.menu-principal{
    width: 100%;
    height: 150px;
    background-color: #fff6e5;
}

.menu-principal img {
    margin-top: 10px;
    margin-left: 10px;
    opacity: 0.6;
    width: 15%;
    
}
.menu-principal h1 {
    font-family: 'Dancing Script','Fuggles', cursive;
    font-size: 45px;
    color: #a07330;
    text-align: center;
    margin-top: -60px;
}

#menu-option{
    text-align: center;
    margin: 100 20px;
    margin-top: 25px;
    font-weight: bold;
    color: #a07330;
    font-size: 15px;
}

#menu-option li, a {
    margin: 0 10px;
    font-weight: bold;
    color: #a07330;
    cursor: pointer;
    
}

.market h1 {
    width: 100%;
    font-family: "Segoe UI",Arial,sans-serif;
}

.carousel-inner {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
}


}